# SBT Directories
target/
project/target/
project/project/

# Logs
*.log
*.out

# IDE Directories
.idea/
.vscode/
.metals/
.bsp/
*.iml
*.class

# OS-specific Files
.DS_Store
Thumbs.db

# Scala Caches
.cache/
.history/
lib_managed/
src_managed/

# Temporary Files
*.tmp
*.swp
*.bak

# ScalaTest Reports
test-reports/
